<ul id="files">
  <% @files.each do |file| %>
    <li>
      <a href="/<%= file %>"><%= file %></a>
      &nbsp;-&nbsp;
      <a href="/<%= file %>/edit">Edit</a>
      &nbsp;-&nbsp;
      <form method="post" class="inline" action="/<%= file %>/delete">
        <button type="submit">Delete</button>
      </form>
    </li>
  <% end %>
</ul>

<a href="/new">New Document</a>