<ul id="files">
  <% @files.each do |file| %>
    <li>
      <a href="/<%= file %>"><%= file %></a>
      &nbsp;-&nbsp;
      <a href="/<%= file %>/edit">Edit</a>
    </li>
  <% end %>
</ul>

<a href="/new">New Document</a>