<!doctype html>
<html lang="en-US">
  <head>
    <meta charset="UTF-8">
    <title>File-Based CMS</title>
  </head>
  <body>
    <header>
      <h1>Files</h1>
    </header>
    <main>
      <%== yield %>
    </main>
  </body>
</html>
