<!doctype html>
<html lang="en-US">
  <head>
    <meta charset="UTF-8">
    <title>File-Based CMS</title>
    <link rel="stylesheet" href="/stylesheets/cms.css">
  </head>
  <body>
    <header>
    </header>

    <% if session[:message] %>
      <p class="message"><%= session.delete(:message) %></p>
    <% end %>

    <main>
      <%== yield %>
    </main>
  </body>
</html>
